<ol class="tree">
    <li>
        <label for="retroboards" class="tree-label">Retro boards</label>
        <input type="checkbox" id="retroboards" />
        <ol>
            <li class="item">
                <a href="#">Alpha sprint 3 <span class="badge pull-right">14</span></a>
            </li>
            <li class="item">
                <a href="#">Sigma sprint 2 <span class="badge pull-right">2</span></a>
            </li>
            <li class="item">
                <a href="#">Omega sprint 3 <span class="badge pull-right">16</span></a>
            </li>
            <li class="item">
                <a href="#">Delta sprint 3 <span class="badge pull-right">1</span></a>
            </li>
            <li class="item">
                <a href="#">Alpha sprint 2 <span class="badge pull-right">0</span></a>
            </li>
            <li class="item">
                <a href="#">View all</a></li>
        </ol>
    </li>
    <li>
        <label for="tools" class="tree-label">Tools</label>
        <input type="checkbox" id="tools" />
        <ol>
            <li class="item">
                <a href="#">Aggregator</a>
            </li>
        </ol>
    </li>
    <li>
        <label for="settings" class="tree-label">Settings</label>
        <input type="checkbox" id="settings" />
        <ol>
            <li class="item">
                <a href="#">Users <span class="badge pull-right">46</span></a>
            </li>
            <li class="item">
                <a href="#">Teams <span class="badge pull-right">3</span></a
                        ></li>
            <li class="item">
                <a href="#">Sprints <span class="badge pull-right">6</span></a>
            </li>
        </ol>
    </li>
</ol>
