<ol class="tree">
    <li>
        <label for="retroboards" class="tree-label">Retro boards</label>
        <input type="checkbox" id="retroboards" />
        <ol id="boadrs-list">
          {% verbatim %}
            <script id="boardsList" type="text/html">
              <li class="item">
                  <a href="#">{{ team.name }} {{ sprint }}<span class="badge pull-right">{{ stickers.length }}</span></a>
              </li>
            </script>
          {% endverbatim %}

          <li><a href="#">View all</a></li>
        </ol>

    </li>
    <li>
        <label for="tools" class="tree-label">Tools</label>
        <input type="checkbox" id="tools" />
        <ol>
            <li class="item">
                <a href="#">Aggregator</a>
            </li>
        </ol>
    </li>
    <li>
        <label for="settings" class="tree-label">Settings</label>
        <input type="checkbox" id="settings" />
        <ol>
            <li class="item">
                <a href="#">Users <span class="badge pull-right">46</span></a>
            </li>
            <li class="item">
                <a href="#">Teams <span class="badge pull-right">3</span></a
                        ></li>
            <li class="item">
                <a href="#">Sprints <span class="badge pull-right">6</span></a>
            </li>
        </ol>
    </li>
</ol>
