{% verbatim %}
<script id="boardDetails" type="text/html">

    <ol class="breadcrumb">
        <li><a href="#">Agiler</a></li>
        <li><a href="#boards">Retro Boards</a></li>
        <li>{{ team }}</li>
        <li class="active">Sprint {{ sprint.number }}</li>
        <span class="pull-right">
            <a href="javascript:window.print()">
                <span class="glyphicon glyphicon-print" title="Print this page"></span>
            </a>
        </span>
    </ol>

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-list-alt"></span>
            Sprint {{ sprint.number }}
            <small>{{ team }}</small>
        </h1>
        <small>
            Starts on <strong>{{ sprint.start_date }}</strong>,
            ends on <strong>{{ sprint.end_date }}</strong>,
            currently has <strong>{{ sprint.boards.length }}</strong> boards
        </small>
    </div>

</script>
{% endverbatim %}