<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# TODO: Fill in later #}
<meta name="description" content="">
<meta name="author" content="">


{% load staticfiles %}
<link rel="shortcut icon" href="{% static "" %}">

{% include "blocks/includes/css_includes_distrib.html" %}
{% include "blocks/includes/css_includes_project.html" %}

<title>Agiler :: {% block title %}{% endblock %}</title>

{# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
<!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->
