<div class="app-page" id="page-boards">

    <ol class="breadcrumb">
        <li><a href="#">Agiler</a></li>
        <li class="active">Retro Boards</li>
    </ol>

    <h1>Retro Boards</h1>

    <table id="boards-list" class="table table-striped">
        <thead>
        <tr>
            <th>Team</th>
            <th>Sprint</th>
            <th>Limit</th>
            <th>Stickers count</th>
            <th>Owner</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>

        {% include "bbtemplates/boards_list.html" %}

    </table>
</div>
