<div class="app-page" id="page-teams">

    <ol class="breadcrumb">
        <li><a href="#">Agiler</a></li>
        <li>Settings</li>
        <li class="active">Teams</li>
    </ol>

    <h1>Teams</h1>

    <table id="teams-list" class="table table-striped">
        <thead>
        <tr>
            <th>Team name</th>
            <th>Label</th>
            <th>Boards count</th>
        </tr>
        </thead>

        {% include "bbtemplates/teams_list.html" %}

    </table>
</div>

