<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "blocks/head.html" %}
    </head>
    <body>
        {% include "blocks/connection_alert.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-menu">
                            {% include "blocks/logo.html" %}
                            {% include "blocks/side_menu.html" %}
                        </div>
                        <div class="sidebar-footer">
                            {% include "blocks/footer.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    {% include "pages/teams.html" %}
                    {% include "pages/sprints.html" %}

                </div>
            </div>
        </div>

        {# JS includes #}
        {% include "blocks/includes/js_includes_distrib.html" %}
        {% include "blocks/includes/js_includes_project.html" %}
    </body>
</html>
