<div class="panel panel-info">
    <div class="panel-heading">Action Points</div>
{#    <div class="panel-body">#}
{#        <p>This section contains action point stickers.#}
{#            After discussion scrum-master should add action points into this table and monitor their statuses.</p>#}
{#    </div>#}

    <table id="stickers-action-points" class="table table-condensed">
        <thead>
        <tr>
            <th>Summary</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Responsible</th>
            <th></th>
        </tr>
        </thead>
        {% verbatim %}
        <tr>
            <td colspan="5" class="text-center">
                No stickers here yet.
            </td>
        </tr>
        <script id="pointsList" type="text/html">
          {{#action_point}}
          <tr>
            <td>{{ summary }}</td>
            <td>{{ status }}</td>
            <td>{{ owner }}</td>
            <td>Team</td>
            <td>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
          </tr>
          {{/action_point}}
        </script>
        {% endverbatim %}
    </table>
</div>