<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-pushpin"></span>
        &nbsp;Action Points
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
                &nbsp;Add
            </button>
        </span>
    </div>

    <table id="stickers-action-points" class="table table-condensed table-stickers">
        <thead>
        <tr>
            <th style="width: 50%;">Summary</th>
            <th style="width: 10%;">Status</th>
            <th style="width: 20%;">Owner</th>
            <th style="width: 15%;">Responsible</th>
            <th style="width: 5%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="message">
            <td colspan="5" class="text-center">
                No stickers here yet.
            </td>
        </tr>
        </tbody>
        {% verbatim %}
        <script id="pointsList" type="text/html">
          {{#action_point}}
          <tr calss="item">
            <td>{{ summary }}</td>
            <td>{{ status }}</td>
            <td>{{ owner }}</td>
            <td>Responsible</td>
            <td>
              <span class="pull-right">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span class="glyphicon glyphicon-remove"></span>&nbsp;
              </span>
            </td>
          </tr>
          {{/action_point}}
        </script>
        {% endverbatim %}
    </table>
</div>