<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="warning">
            <th>Summary</th>
            <th>Status</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Marcin is lazy! Force him to wash his mug every morning.</td>
            <td>Status</td>
            <td>Magda Zbyszek</td>
            <td>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>