<div class="panel panel-danger">
    <div class="panel-heading">Need to Change</div>
{#    <div class="panel-body">#}
{#        <p>This section contains stickers related to what teem needs to change.#}
{#            If something bothers you or if you have a proposition on what we have to improve or reject,#}
{#            add sticker here!</p>#}
{#    </div>#}

    <table id="stickers-need-to-change" class="table table-condensed">
        <thead>
        <tr>
            <th>Summary</th>
            <th>Status</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        {% verbatim %}
        <tr>
            <td colspan="4" class="text-center">
                No stickers here yet.
            </td>
        </tr>
        <script id="changeList" type="text/html">
          {{#need_to_change}}
          <tr>
            <td>{{ summary }}</td>
            <td>{{ status }}</td>
            <td>{{ owner }}</td>
            <td>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
          </tr>
          {{/need_to_change}}
        </script>
        {% endverbatim %}
    </table>
</div>