<div class="panel panel-danger">
    <div class="panel-heading"><span class="glyphicon glyphicon-warning-sign"></span> Need to Change</div>

    <table id="stickers-need-to-change" class="table table-condensed">
        {% include "pages/board/table_header.html" %}
        {% verbatim %}
        <tr>
            <td colspan="4" class="text-center">
                No stickers here yet.
            </td>
        </tr>
        <script id="changeList" type="text/html">
          {{#need_to_change}}
          <tr>
            <td>{{ summary }}</td>
            <td>{{ status }}</td>
            <td>{{ owner }}</td>
            <td>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
          </tr>
          {{/need_to_change}}
        </script>
        {% endverbatim %}
    </table>
</div>