<div class="panel panel-success">
    <div class="panel-heading"><span class="glyphicon glyphicon-thumbs-up"></span> Was Good</div>

    <table id="stickers-was-good" class="table table-condensed">
        {% include "pages/board/table_header.html" %}
        {% verbatim %}
            <tr>
                <td colspan="4" class="text-center">
                    No stickers here yet.
                </td>
            </tr>
        <script id="goodList" type="text/html">
          {{#was_good}}
          <tr>
            <td>{{ summary }}</td>
            <td>{{ status }}</td>
            <td>{{ owner }}</td>
            <td>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
          </tr>
          {{/was_good}}
        </script>
        {% endverbatim %}
    </table>
</div>
