<div class="panel panel-success">
    <div class="panel-heading">Was Good</div>
{#    <div class="panel-body">#}
{#        <p>This section contains stickers related to what was good in this sprint.#}
{#            If you want to highlight positive moments, add sticker here!</p>#}
{#    </div>#}

    <table id="stickers-was-good" class="table table-condensed">
        <thead>
        <tr>
            <th>Summary</th>
            <th>Status</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        {% verbatim %}
            <tr>
                <td colspan="4" class="text-center">
                    No stickers here yet.
                </td>
            </tr>
        <script id="goodList" type="text/html">
          {{#was_good}}
          <tr>
            <td>{{ summary }}</td>
            <td>{{ status }}</td>
            <td>{{ owner }}</td>
            <td>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
            </td>
          </tr>
          {{/was_good}}
        </script>
        {% endverbatim %}
    </table>
</div>
