<!DOCTYPE html>
  {% load staticfiles %}

<html>
<head>
  <title></title>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/underscore-min.js" %}"></script>

<script src="{% static "js/backbone.min.js" %}"></script>

  <script src="{% static "js/ICanHaz.min.js" %}"></script>
<script src="{% static "teams.js" %}"></script>

</head>
<body>

<table class="table table-striped" id="app">
  <thead>
          <tr>
            <th>name</th>
            <th>label</th>
          </tr>
        </thead>
    </table>
    <!-- ICanHaz templates -->
    {% comment %}
    Mustache and django both use {{}} tags for templates, so we need to use
    a custom template tag to output the mustache template exactly as it is.
    {% endcomment %}
    {% verbatim %}
    <script id="teamRowTpl" type="text/html">
        <tr>
            <td> {{ name }} </td>
            <td> {{ label }} </td>
        </tr>
    </script>
    {% endverbatim %}


</body>
</html>