ol.tree
{
	margin: 0;
	padding: 0;
	width: 100%;
}

ol.tree li
{ 
	position: relative; 
	list-style: none;
}

ol.tree li.item a
{
	color: #e5e9f2;
	text-decoration: none;
	display: block;
}

ol.tree li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	top: 0;
}

ol.tree li input + ol
{
	margin: 0;
}

ol.tree li input + ol > li
{ 
	display: none; 
}

ol.tree li label
{
	cursor: pointer;
	display: block;
}

ol.tree li input:checked + ol
{
	padding: 0 0 0 15px;
	height: auto;
}

ol.tree li input:checked + ol > li
{
	display: block;
}

ol.tree li input:checked + ol > li:last-child
{
    padding-bottom: 10px;
}

ol.tree .tree-label
{
  font-size: 11px;
  font-weight: bold;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
