<label for="settings" class="tree-label">Settings</label>
<input type="checkbox" id="settings" />
<ol id="settings-list">
      {% verbatim %}
        <script id="settingsList" type="text/html">
    <li class="item">
        <a href="#">Users <span class="badge pull-right">{{ users_count }}</span></a>
    </li>
    <li class="item">
        <a href="#">Teams <span class="badge pull-right">{{ teams_count }}</span></a
                ></li>
    <li class="item">
        <a href="#">Sprints <span class="badge pull-right">{{ sprints_count }}</span></a>
    </li>
        </script>
    {% endverbatim %}

</ol>