{% load staticfiles %}
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/router.js" %}"></script>
<script src="{% static "js/pages/board.js" %}"></script>
<script src="{% static "js/pages/boards.js" %}"></script>
<script src="{% static "js/menu/boards.js" %}"></script>
<script src="{% static "js/menu/settings.js" %}"></script>
<script src="{% static "js/settings/users/users.js" %}"></script>
<script src="{% static "js/settings/teams/teams.js" %}"></script>
<script src="{% static "js/settings/sprints/sprints.js" %}"></script>
